<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Pokemon Search</title>
</head>
<body>
    <div id="pokemon-container">
        <label for="pokemon-name">ENTER POKEMON: </label>
        <input type="text" placeholder="ENTER A POKEMON NAME" id="pokemon-name">
        <button id="submitBtn">SUBMIT</button>
    </div>
    
    <div id="pokemoninfo"></div>
    <div id ="pokemon-sprite">

    </div>
    <div id="pokemon-abilities-container">

    </div>
    
    <div id="pokemon-type-container">

        <div id="pokemon-types"></div>

        <div id="pokemon-type-weak"></div>

        <div id="pokemon-type-res"></div>

        <div id="pokemon-type-immune"></div>

    </div>

    <div id="pokemon-stats-container">
    </div>

    <div id="pokemon-cry-container">

    </div>

    <div id="pokemon-moves-container">

    </div>
    <div id="error-container">

    </div>


</body>
<script type ="module"src="/public/js/index.js"></script>
</html>